<div id="footer" class="footer">

    <p align="center"><strong>COPY RIHGT&copy; 2020</strong> | Themes:<strong
            style="color:#94A4FF">Sweet</strong>-<strong style="color:#FFB296">Clouds</strong> By <a
            href="https://www.heson10.com" target="_blank"><strong>Heson</strong></a></p>

    <p align="center"> <a href="https://love.heson10.com" title="情侣微博">

            <strong>情侣微博1.0</strong> 持续优化中

        </a> Proudly By <a href="http://hexo.io" target="_blank">Hexo</a></p>
    <%- js('js/jquery')%>
    <%- js('js/all')%>
    <script src="https://cdn.bootcss.com/vue/2.6.11/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/leancloud-storage@4.5.3/dist/av-min.js"></script>
    <script>

        var {
            Query
        } = AV;
        AV.init({
            appId: "<%- theme.boybb.appId%>",
            appKey: "<%- theme.boybb.appKey%>",
            serverURLs: '<%- theme.boybb.serverUrl%>'
        });

        var query = new AV.Query('content');




        var app = new Vue({
            el: '#app',
            data: {
                page: 0,
                count: 0,
                contents: []
            },
            methods: {
                loadMore1: function (event) {

                    var {
                        Query
                    } = AV;
                    AV.init({
                        appId: "<%- theme.boybb.appId%>",
                        appKey: "<%- theme.boybb.appKey%>",
                        serverURLs: '<%- theme.boybb.serverUrl%>'
                    });

                    var query = new AV.Query('content');
                    getData1(++this.page);
                }
            }
        })

        var app2 = new Vue({
            el: '#app2',
            data: {
                page: 0,
                count: 0,
                contents: []
            },
            methods: {
                loadMore2: function (event) {
                    var {
                        Query
                    } = AV;
                    AV.init({
                        appId: "<%- theme.girlbb.appId%>",
                        appKey: "<%- theme.girlbb.appKey%>",
                        serverURLs: '<%- theme.girlbb.serverUrl%>'
                    });

                    var query2 = new AV.Query('content');






                    getData2(++this.page);
                }
            }
        })
        query.count().then(function (count) {
            app.count = count;
        }, function (error) { });

        getData1(0);

        var {
            Query
        } = AV;
        AV.init({
            appId: "<%- theme.girlbb.appId%>",
            appKey: "<%- theme.girlbb.appKey%>",
            serverURLs: '<%- theme.girlbb.serverUrl%>'
        });


        var query2 = new AV.Query('content');

        query2.count().then(function (count) {
            app2.count = count;
        }, function (error) { });

        getData2(0);

        function urlToLink(str) {
            // var re = /(http|ftp|https):\/\/[\w-]+(.[\w-]+)+([\w-.,@?^=%&:/~+#]*[\w-\@?^=%&/~+#])?/g; 
            var re = /\bhttps?:\/\/(?!\S+(?:jpe?g|png|bmp|gif|webp|gif))\S+/g;
            var re_forpic = /\bhttps?:\/\/.*?(\.gif|\.jpeg|\.png|\.jpg|\.bmp|\.webp)/g;
            var re_forpic_vx = /^http:\/\/mmbiz\.qpic\.cn[^\s]*/g;
            str = str.replace(re, function (website) {
                return "<a href='" + website + "' target='_blank'> <i class='iconfont icon-lianjie-copy'></i>链接 </a>";
            });
            str = str.replace(re_forpic, function (imgurl) {
                return "<img src='" + imgurl + "'  /> ";
            });
            str = str.replace(re_forpic_vx, function (imgurl) {
                return "<img src='" + imgurl + "'  /> ";
            });
            return str;
        };

        //男生获取哔哔
        function getData1(page = 0) {
            query.descending('createdAt').skip(page * 10).limit(10).find().then(function (results) {
                if (results.length == 0) {
                    alert('之前没发表过说说了')
                } else {
                    let resC = results;
                    reqData = false;
                    resC.forEach((i) => {
                        let d = new Date(i.createdAt);
                        datetime = d.getFullYear() + '-' + (d.getMonth() + 1) + '-' + d.getDate();
                        i.attributes.time = datetime;
                        i.attributes.content = urlToLink(i.attributes.content);
                        app.contents.push(i);
                    })
                }

            }, function (error) { });
        }


        //女生获取哔哔
        function getData2(page = 0) {
            query2.descending('createdAt').skip(page * 10).limit(10).find().then(function (results) {
                if (results.length == 0) {
                    alert('之前没发表过哔哔了')
                } else {
                    let resC = results;
                    reqData = false;
                    resC.forEach((i) => {
                        let d = new Date(i.createdAt);
                        datetime = d.getFullYear() + '-' + (d.getMonth() + 1) + '-' + d.getDate();
                        i.attributes.time = datetime;
                        i.attributes.content = urlToLink(i.attributes.content);
                        app2.contents.push(i);
                    })
                }

            }, function (error) { });
        }



    </script>



</div>